:root {
  --font-family: Montserrat;
  --blue-text: #23A6F0;
  --secondary-200: #23856D;
  --secondary-100: #2DC071;
  --white-text: #FEFEFE;
  --primary-200:#252B42;
  --primary-100 : #737373;
  --muted-text: #BDBDBD;
  --border-color: #E6E6E6;

  
}

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2px;
  text-align: center;
  color: var(--primary-200);
}

h3 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
}

h4 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  text-align: center;

}

h5 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

h6 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}




